<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/ec572abf-16c3-4442-ba1a-0aa83d103fee/resourceGroups/DefaultResourceGroup-DEWC/providers/Microsoft.Web/sites/drakon-grpc-1</ResourceId>
    <ResourceGroup>DefaultResourceGroup-DEWC</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://drakon-grpc-1.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>79778c54-a951-44cc-8374-6ada1594a546</ProjectGuid>
    <PublishUrl>https://drakon-grpc-1.scm.azurewebsites.net/</PublishUrl>
    <UserName>$drakon-grpc-1</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>